/* Font Mulish */

  @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap');

*{
    font-family: 'Mulish';
}
.text-primary{
    color: #FF5400;
}
.btn-primary{
    color: #FFF;;
    background-color: #FF5400
}
header{
    padding: 50px 240px;
}
/* nav style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 350px;
   
}
.nav-title{
    font-size: 2.3rem;
}
nav > ul{
    display: flex;
}
.head{
    display: flex;
    margin-right: 30px;
}
nav li{
    list-style: none;
    margin-right: 30px;
}
nav li a{
    text-decoration: none;
    color: rgba(66, 66, 71, 1);
}
/* Banner style */
.banner{
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),
    url("B9A2-Hero-Travel/Images/Group 13 (1) (1).png") center/cover no-repeat;
    padding: 50px 50px; 
    border: 16px;
    width: 1170px;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    margin: 100px 350px;
    }
    .format{
        display: inline-flex;
        padding: 16px;
        align-items: flex-start;
        gap: 24px;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.30);
    }
    .banner-title {
        font-size: 64px; /* Adjust font size as needed */
        color: #FFF;
        /* width: 252px 422px; */
        font-weight: 800;
    } 

    .banner-description {
        font-size: 18px; /* Adjust font size as needed */
        color: #FFF;
    }

    form > input, button{
        height: 52px;
        width: 174px;
    }
    /* Tour design */

    .tour {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 100px 400px;
    }
    .tour-head{
        color: #131318;
    font-family: Mulish;
    font-size: 40px;
    }
    
    .tour-content {
        flex: 1; 
        max-width: 600px; 
    }
    
    .tour-image img {
        max-width: 100%; 
        height: auto;
    }
    .button{
        border-radius: 8px;
        font-size: 20px;
    }
    /* Image container */

.destination-image{
    display: grid;
    justify-content: center;
    gap: 24px;
    grid-template-columns: repeat(2, 3, 2, 1fr);
    margin: 100px 350px;
}
.step1,
.step2,
.step3 {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.destination-text{
    text-align: center;
}
.destination-head{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}
/* choosing reason */
.choosing-reason{
    color: #131318;
text-align: center;
font-family: Mulish;
line-height: normal;
}
.choosing-header{
    font-size: 40px;
font-style: normal;
font-weight: 800;
}


.step4, .step5, .step6{
   
    border: 2px solid aqua;
    padding: 5px;
    border-radius: 5px;
    width: 573px;
height: 284px;
flex-shrink: 0;

}
.step4 > img{
   
    width: 64px;
height: 64px;
flex-shrink: 0;
}
.step5 > img{
    
    width: 64px;
height: 64px;
flex-shrink: 0;
}
.step6 > img{
   
    width: 64px;
height: 64px;
flex-shrink: 0;
}
.step4{
    grid-area: step4;
    background: rgba(251, 181, 99, 0.2);
}
.step5{
    grid-area: step5;
    background: rgba(41, 206, 246, 0.2);
}
.step6{
    grid-area: step6;
    background: rgba(233, 68, 68, 0.05);
    margin: 48px 750px;
}

.all-step1{
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 48px 400px;
}
.form-detail{
    display: flex;
    justify-content: space-between;
    margin: 100px 350px;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #FF5400;
    padding: 5px;
    border-radius: 5px;
    width: 500px;
    height: 500px;
    margin: 40px;
}
.form-head{
    font-size: 24px;
font-style: normal;
font-weight: 800;
margin-top: 40px;
}
.input1, .input2{
    width: 393px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
}
.form > .btn-primary{
    width: 393px;
height: 52px;
flex-shrink: 0;
margin-bottom: 15px;
}
/* footer */
.footer {
    text-align: center;
}
.step7{
    display: flex;
    color: var(--Dark-01, #131318);
font-size: 32px;
font-weight: 800;
margin: 100px 850px;
}
.footer-img{
    width: 130px;
height: 50px;
}


    /* Responsive for mobile device */
    @media screen and (max-width: 600px) {
        nav{    
            width: 200px;
            margin: auto;
        }

       form{
        flex-direction: column;
        
        }
        nav > ul{
            flex-direction: column;
        }
        .banner{
            width: 500px;
            margin: auto;
        }
        .destination-image{
           flex-direction: column;
           image-resolution: 100px;
        }
        .banner-title {
            font-size: 24px; 
        }
    
        .banner-description {
            font-size: 14px; 
        }
        }

        .tour-content{
        display: flex;
    flex-wrap: wrap; 
    margin: auto;
    position: relative;
    
        }
    .destination-container{
        flex-direction: column;
    }
    .destination-image{
        position: relative;

    }
    .choosing-reason{
        flex-direction: column;
    }

 
