/* Font Mulish */

  @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap');

*{
    font-family: 'Mulish';
}
.text-primary{
    color: #FF5400;
}
.btn-primary{
    color: #FFF;;
    background-color: #FF5400 
}
header{
    padding: 50px 240px;
}
/* nav style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 2.3rem;
}
nav > ul{
    display: flex;
}
.head{
    display: flex;
    margin-right: 30px;
}
nav li{
    list-style: none;
    margin-right: 30px;
}
nav li a{
    text-decoration: none;
    color: rgba(66, 66, 71, 1);
}
/* Banner style */
.banner{
    background-image:url(B9A2-Hero-Travel/Images/Group\ 13\ \(1\)\ \(1\).png);
    padding: 50px 50px; 
    border: 16px;
    width: 1170px;
    height: 500px;
    /* background-size: cover; */
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
    margin: auto;
    /* color: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%); */
}

    .banner-title {
        font-size: 64px; /* Adjust font size as needed */
        color: #FFF;
        width: 252px 422px;
        font-weight: 800;
    }
    
    .banner-description {
        font-size: 18px; /* Adjust font size as needed */
        color: #FFF;
    }
    
    form > input, button{
        height: 52px;
        width: 174px;
        /* display: inline-flex; */
        /* padding: 16px; */
        /* align-items: flex-start; */
        row-gap: 24px;
    }



    /* Responsive for mobile device */
    @media screen and  {
        
    } {
        
    }