/* Font Mulish */

  @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap');

*{
    font-family: 'Mulish';
}
.text-primary{
    color: #FF5400;
}
header{
    padding: 50px 240px;
}
/* nav style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 2.3rem;
}
nav > ul{
    display: flex;
}
.head{
    display: flex;
    margin-right: 30px;
}
nav li{
    list-style: none;
    margin-right: 30px;
}
nav li a{
    text-decoration: none;
    color: rgba(66, 66, 71, 1);
}
/* Banner style */
.banner{
    background-image:url(B9A2-Hero-Travel/Images/Group\ 13\ \(1\)\ \(1\).png);
    padding: 135px 146px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    background-position: bottom center;
}

    .banner-title {
        font-size: 64px; /* Adjust font size as needed */
        color: #FFF;
        width: 252px 422px;
    }
    
    .banner-description {
        font-size: 18px; /* Adjust font size as needed */
        color: #FFF;
    }
    
    form {
        margin-top: 52px; /* Adjust margin as needed */
    }